.remark-container{
    background: radial-gradient(#000, #333);
}
.remark-slide-scaler{
    box-shadow: unset;
}
.remark-slide-content{
    display:block; 
    height: 100%;   
}
.remark-slide{
    display:block;
    table-layout: unset;
}
@page {
    //size: 1210px 681px;
    size: 1220px 691px;
    margin: 0;
}
@media print {
    .remark-container{
        background: transparent;
    }
    /*.remark-slide-scaler {
        transform: scale(1) !important;
        left: 0 !important;
        border: 1pt solid black;    
    }*/
    .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
    }
}